body {
	background: salmon;
}

#rotasi {
	background: yellow;
	width: 300px;
	height: 300px;
}

#rotasi:hover {
	background: blue;
	transform: rotate(120deg);
	/* rotasi 2d */
}

.kotak {
	width: 250px;
	height: 250px;
}

.fkiri {
	float: left;
	margin-right: 30px;
}

#rotasi-x {
	background: white;
	transform: rotateX(180deg);
}

#rotasi-y {
	background: green;
	transform: rotateY(120deg);
}

#rotasi-z {
	background: blue;
	transform: rotateZ(120deg);
}

#rotasi-xyz {
	background: pink;
	transform: rotateX(30deg) rotateY(60deg) rotateZ(45deg);
}

/* scale */
#scale {
	/* kondisi awal*/
	background: lightgreen;
}

#scale:hover {
	/* kondisi ketika mouse lewat */
	/* hover : effect yang terjadi ketika dilewati oleh cursor mouse */
	margin:30px;
	background: blue;
	color: white;
	transform:rotate(-30deg) scale(1.5, 0.5);
	/* x : 1.5, y : 0.5

	250 x 1.5 -> (x)
	250 x 0.5 -> (y)

	90 derajat -> 90 degree
	90deg 
	 */
}

/* skew */
#skew {
	background: blue;
	color: white;
	transform: skew(20deg);
}

#skew2 {
	background: yellow;
	transform: skew(20deg, 40deg);
}

/* translate */
#translate {
	background: blue;
	color: white;
}

#translate:hover {
	transform: translate(2em, 3em);
}

#translate2 {
	background: green;
	color: white;
}

#translate2:hover {
	/* :hover -> kondisi ketika dilewati oleh mouse */
	background: red;
	transform: translateX(3em) translateY(3em);
}

/* transform origin */
.kontener {
	background: black;
	border: 1px dashed red;
	position: relative;
	top:350px;
	/* top : jarak antara batas atas dengan element, position harus non-static (absolute, relative, fixed) */
	left: 40px;
	/* left : jarak antara batas kiri dengan element */
}

#box1 {
	background: red;
	color: white;
	transform-origin: 100% 0%;
}

#box1:hover {
	transform: rotate(30deg);
	transform-origin: 100% 0%;
}

/* transition */
#contoh1 {
	background: black;
	color: white;
	transition: transform 1s linear;
	/*
	1 properti
	2 waktu jalan 1 putaran
	3 gaya waktu
	4 delay / waktu tunda
	*/
}

#contoh1:hover {
	transform: translate(100px,75px);
	/*translate(x, y)*/
	transition: transform 3s ease 2s;
	/* linear | ease | ease-in | ease-out | ease-in-out */
}