.kotak {
	height: 200px;
	width: 200px;
}

#hex {
	background: #000000;
}

#rgb {
	/* nilai masing-masing rgb(0-255, 0-255, 0-255) */
	background-color:rgb(0,255,0);
}

#rgba {
	/* nilai masing-masing rgba(0-255, 0-255, 0-255, 0-1) */
	background-color: rgba(0,0,255,0.5);
}

#hsl {
	/*hsl(0-360, 0-100%, 0-100%)*/
	background-color: hsl(0, 80%, 50%);
}

#hsla {
	/*hsla (0-360, 0-100%, 0-100, 0-1)*/
	background-color: hsla(0, 80%, 50%, 0.3);
}